<div class="o-typography-flyline">
  <a href="{{flylineUrl}}" class="o-typography-flyline__link">{{flyline}}</a>
</div>

<h1 class="o-typography-heading1">{{headline}}</h1>

<p>
  <span class="article__byline credits">By <a href="https://www.ft.com/stream/authorsId/Q0ItMDAwMTE0Mw==-QXV0aG9ycw==">Matthew Vincent</a>, <a href="https://ft.com/david-blood" target="_blank">David Blood</a>, <a href="https://www.ft.com/steve-bernard">Steve Bernard</a> and <a href="https://www.ft.com/stream/authorsId/Y2RhMDlmYTYtMDU0YS00ZWJlLWJkNzAtNThhMTA1OWM5Y2I5-QXV0aG9ycw==" target="_blank">Cat Rutter Pooley</a></span>
  <span class="article__byline updated">Last updated</span>
  <time class="article__timestamp o-date" data-o-component="o-date" datetime="{{lastUpdated}}" data-o-date-js>{{moment lastUpdated format="MMMM D, YYYY HH:mm"}}</time>
</p>

<p class="o-typography-lead">
  See how Britain’s vote to leave the EU has affected companies from HSBC to easyJet. Which have announced job cuts and profit warnings – or committed to new UK investments and merger and acquisition deals?
</p>

<p class="o-typography-lead">
  This page records company announcements about the impact of Brexit on profits, jobs, mergers or investments, whether positive or negative. It does not include companies that say leaving the EU will have no effect on them.
</p>

<script>if (cutsTheMustard) addScript('https://origami-build.ft.com/v2/bundles/js?modules=o-date@^2.3.3', true, true)</script>
