<div class="o-grid-row">
  <a class ="card-link" href="{{story.url}}">
    <div class="feed-item">
      <small>
        {{collection}}{{#if profitwarning.date}} {{ profitwarning.date }}{{/if}}
      </small>

      <h2>{{company}}</h2>

      <p>
        {{copy}}
      </p>
      <span class="story-link">Read full article</span>
    </div>
  </a>
</div>
