<div class="o-grid-row">
  <div class="feed-item">
    {{moment timestamp format="MMMM Do, YYYY"}}

    <small>
      {{collection}}{{#if profitwarning.date}} {{profitwarning.date}}{{/if}}
    </small>

    <h2>{{company}}</h2>

    <p>
      {{copy}}
      <a href="{{story.url}}">Link text</a>
    </p>
  </div>
</div>
