<div class="feed-item" id="{{dashcase id}}">
  <a href="https://twitter.com/intent/tweet?&amp;text=Brexit%20impact%20on%20{{encodeURI company}}%20–%20{{encodeURI collection1}}{{#if collection2}}%2C%20{{encodeURI collection2}}{{/if}}&amp;url={{encodeURI 'https://ig.ft.com/sites/brexit-companies/#'}}{{encodeURI (dashcase id)}}&amp;hashtags=BrexitBusinessImpactTracker&amp;related=%40FT&amp;via=FT">Tweet</a>

  <time class="article__timestamp">
    {{moment timestamp format="MMMM D, YYYY"}}
  </time>

  <small>
    <span class="collection1">{{collection1}}</span>{{#if collection2}},{{/if}}

    {{#if profitwarning.date}}{{moment profitwarning.date format="MMMM D, YYYY"}}{{/if}}

    {{#if collection2}}<span class="collection2">{{collection2}}</span>{{/if}}
  </small>

  <h2 class="company">{{company}}</h2>

  <p>
    {{{copy}}}
  </p>

  {{#if story.url}}<span class="story-link">Read full article</span>{{/if}}
</div>
