<!DOCTYPE html>
<html lang="en-GB" class="core o-hoverable-on">
  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://www.ft.com/">
    <link rel="preconnect" href="https://cdn.polyfill.io/">

    <title>{{title}}</title>

    <meta name="twitter:title" content="{{title}}">
    <meta property="og:title" content="{{title}}">

    <meta name="description" content="{{summary}}">
    <meta name="twitter:description" content="{{summary}}">
    <meta property="og:description" content="{{summary}}">

    <link rel="canonical" href="{{url}}">
    <meta name="twitter:url" content="{{url}}">
    <meta property="og:url" content="{{url}}">

    <link rel="image_src" href="https://image.webservices.ft.com/v1/images/raw/ftcms:{{masterImgUuid}}?source=ig&amp;width=600">
    <meta name="twitter:image" content="https://image.webservices.ft.com/v1/images/raw/ftcms:{{masterImgUuid}}?source=ig&amp;width=600">
    <meta property="og:image" content="https://image.webservices.ft.com/v1/images/raw/ftcms:{{masterImgUuid}}?source=ig&amp;width=600">

    <!--
      TODO: Select Twitter card type -
            "summary" or "summary_large_image"

            Twitter card docs:
            https://dev.twitter.com/cards/markup
    -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@ft">

    <!--
    TODO optional author info
    <meta name="twitter:creator" content="@individual_account">
    <meta property="article:author" content="">
    -->

    <script src="scripts/top.js"></script>

    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="https://www.ft.com/__origami/service/build/v2/bundles/css?modules=o-normalise@^1,o-fonts@^2,o-grid@^4,o-typography@^4,o-buttons@^4.0.1,o-hoverable@^3.0.1">
    <link rel="stylesheet" href="styles/top.css">
    <link rel="stylesheet" href="styles/main.css">

    <link href="https://plus.google.com/113457471429583444041/" rel="publisher" />
    <meta property="fb:page_id" content="8860325749" />
    <link rel="shortcut icon" href="https://ig.ft.com/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="https://ig.ft.com/apple-touch-icon.png">
    <meta name="format-detection" content="telephone=no">
    <meta name="robots" content="index,follow">
    <meta name="copyright" content="Financial Times">
    <meta name="theme-color" content="#fff1e0" />

    {{> analytics-ga}}
  </head>
