{{> head}}
  <body onload="initFilters();">
    {{> tracking-snippet}}

    {{> header}}

    <main role="main">
      <article class="article">
        <div class="article-head o-grid-container">
          <div class="o-grid-row">
            <header data-o-grid-colspan="12 S12 Scenter M10 L8">
              {{> share}}

              {{> article-header}}
            </header>
          </div>
        </div>

        <div class="article-body o-typography-body-wrapper">
          {{{contents}}}
          <div class="aggregate o-grid-row">
            <div data-o-grid-colspan="12"><h2>Change in total value since June 24</h2>
              <div class="o-grid-row">
                {{#each agg}}
                {{> agg-item}}
                {{/each}}
              </div>
            </div>
          </div>

          <div class="o-grid-row">
            <button type="button" id="reset">Reset All Filters</button>
            <button type="button" id="financial">Financial Gain ({{collections.[2].count}})</button>
            <button type="button" id="profit">Profit Warning ({{collections.[10].count}})</button>
            <button type="button" id="jobs">Jobs ({{collections.[6].count}})</button>
          </div>

          <div class="o-grid-row">
            <p>
              <span id="asset">Asset Sales</span>
              <span id="credit">Credit Downgrade</span>
              <span id="fundraising">Fundraising</span>
              <span id="relocation">HQ Relocation</span>
              <span id="investment">Investment</span>
              <span id="market">Market Access Warning</span>
              <span id="mergers">Mergers &amp; Acquisitions</span>
              <span id="outlook">Outlook Warning</span>
            </p>
          </div>

          <div class="o-grid-row" id="feed">
            <ul class="list">
              <!-- Parse Bertha data as feed object, iterating over the array to form a list -->
              {{#each (sortBy feed 'timestamp')}}
              <li>
                {{#if story.url}}
                <a class ="card-link" href="{{story.url}}">
                {{/if}}
                  {{> feed-item}}
                {{#if story.url}}
                </a>
                {{/if}}
              </li>
              {{/each}}
            </ul>
          </div>
        </div>
      </article>
    </main>

    {{> footer}}
    <script src="scripts/list.min.js"></script>
    <script src="scripts/main.js"></script>
  </body>
</html>
