{{> head}}
  <body onload="initFilters();">
    {{> tracking-snippet}}

    {{> header}}

    <main role="main">
      <article class="article">
        <div class="article-head o-grid-container">
          <div class="o-grid-row">
            <header data-o-grid-colspan="12 S12 Scenter M10 L8">
              {{> share}}

              {{> article-header}}
            </header>
          </div>


        <div class="article-body o-typography-body-wrapper">
          {{{contents}}}
          <div class="aggregate o-grid-row">
            <div data-o-grid-colspan="12"><h2>Change in total value since June 24</h2>
              <div class="o-grid-row">
                {{#each agg}}
                {{> agg-item}}
                {{/each}}
              </div>
            </div>
          </div>

          <div class="o-grid-row filters">
            <div data-o-grid-colspan="12 center">
              <div class="o-buttons__group">
                <button class="o-buttons o-buttons--big" id="financial">Financial Gain ({{collections.[2].count}})</button><!--
              --><button class="o-buttons o-buttons--big" id="profit">Profit Warning ({{collections.[10].count}})</button><!--
              --><button class="o-buttons o-buttons--big" id="jobs">Jobs ({{collections.[6].count}})</button>
              </div>
            </div>

            <div class="filters--minor">
              <div class="filters--minor__holder">
                <button id="asset">Asset sales</button>
                <button id="credit">Credit downgrade</button>
                <button id="fundraising">Fundraising</button>
                <button id="relocation">HQ relocation</button>
                <button id="investment">Investment</button>
                <button id="market">Market access warning</button>
                <button id="mergers">Mergers &amp; acquisitions</button>
                <button id="outlook">Outlook warning</button>
              </div>
              <button class="o-buttons o-buttons--standout o-buttons--big__reset" id="reset">Reset All Filters</button>
            </div>
          </div>

          <div class="o-grid-row" id="feed">
            <ul class="list">
              <!-- Parse Bertha data as feed object, iterating over the array to form a list -->
              {{#each (sortBy feed 'timestamp')}}
              <li>
                {{#if story.url}}
                <a class ="card-link" href="{{story.url}}">
                {{/if}}
                  {{> feed-item}}
                {{#if story.url}}
                </a>
                {{/if}}
              </li>
              {{/each}}
            </ul>
          </div>
        </div>
      </article>
    </main>

    {{> footer}}
    <script src="https://build.origami.ft.com/v2/bundles/js?modules=o-buttons@^4.0.1"></script>
    <script src="scripts/list.min.js"></script>
    <script src="scripts/main.js"></script>
  </body>
</html>
